.admin-panel-bloc
  width: 100%
  height: 200px
  border-radius: 20px
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1)

.add-group
  input[type='text'], input[type='email'], input[type='text']
    width: 70%
    float: left
    border-bottom-right-radius: 0
    border-top-right-radius: 0
  input[type='submit']
    width: 30%
    border-bottom-left-radius: 0
    border-top-left-radius: 0
.alert
  text-align: center
  ul
    margin-bottom: 0
    list-style: none
    text-align: center

.asessor-list
  width: 100%
  height: 193px
  overflow: scroll
  overflow-x: hidden
  ul
    list-style: none
    padding-left: 0
  .checked
    background-color: #175d6f
    color: white
.admin-sidebar
  ul
    list-style: none
    padding-left: 0
  .bar-item
    padding: 10px 20px
    transition-duration: 0.2s
    &:hover
      background-color: #302f31
      color: white
    span
      display: block
      float: left
      width: 60%

.active
  color: red
  font-weight: bold
.hide
  display: none
.docs-icon
  width: 40px
.change-name-files
  input
    width: 80%
    float: left
  button
    float: left
.delete-link
  font-weight: bold
  color: red !important
  cursor: pointer
.search-asessor
  width: 100%
  height: 60px
  input
    border-bottom-right-radius: 0
    border-top-right-radius: 0
    width: 40%
    float: left
  button
    border-bottom-left-radius: 0
    border-top-left-radius: 0
    float: left
.selected-asessors-name
  list-style-type: none
  padding-left: 0
  li
    background-color: #f47d42
    color: white
    display: inline-flex
    margin-right: 15px
    margin-bottom: 10px
    padding: 5px 10px
    border-radius: 10px
    button
      color: #42b9f4
      padding: 0
      margin-left: 10px
.search-empty
  font-size: 20px
  color: red
  padding: 5px
  margin-left: 10px
