@import "login"
.personal-area
  background-color: #f2f2f2
  padding-top: 40px
  padding-bottom: 40px

.container
  background: #fff
  border-radius: 10px
  overflow: hidden
  padding-top: 20px
  padding-bottom: 20px
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1)
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1)
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1)
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1)
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1)

.main-header
  text-align: center
  margin: 20px 0 40px 0
.right
  float: right