* {
  font-family: Roboto;
}

[v-cloak] {
  display: none;
}

.fix-header {
  background: #edf1f5;
  width: 100%;
}

.wrapper {
  padding-top: 60px;
  padding-left: 240px;
  width: 100%;
}

.wrapper .bread-crumb {
  background-color: white;
  padding: 10px 30px;
  height: 58px;
  position: relative;
}

.wrapper .bread-crumb .left-bread {
  display: inline-block;
}

.wrapper .bread-crumb .left-bread h4 {
  position: absolute;
  left: 100px;
  top: 15px;
  font-weight: bold;
}

.wrapper .bread-crumb .right-bread {
  display: inline-block;
  float: right;
  padding-top: 5px;
}

.wrapper .bread-crumb .right-bread ul {
  list-style-type: none;
  padding-left: 0;
}

.wrapper .bread-crumb .right-bread ul li {
  display: inline-flex;
}

.wrapper .bread-crumb .right-bread ul li span {
  font-weight: bold;
  margin: 0 10px;
}

.wrapper .page-wrapper {
  padding: 30px;
}

.wrapper .page-wrapper .card {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
}

.wrapper .page-wrapper .card .card-row {
  width: 100%;
  margin-top: 20px;
}

.wrapper .list-reports {
  padding-left: 19px;
}

.reports-information a {
  color: white !important;
}

.sidebar {
  background-color: #fff;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  z-index: 101;
  position: fixed;
  width: 240px;
  padding-top: 0;
  height: 100%;
  transition: 0.05s ease-in;
  top: 0;
  left: 0;
}

.sidebar .sidebar-head {
  height: 58px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  padding-top: 10px;
}

.sidebar .nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  padding-top: 15px;
}

.sidebar .nav li {
  padding: 17px;
  width: 100%;
}

.sidebar .nav li:hover {
  background: rgba(0, 0, 0, 0.07);
}

.sidebar .nav li a {
  color: #54667a;
  border-left: 0 solid #fff;
  padding: 15px 35px 15px 20px;
  font-size: 14px;
  text-decoration: none;
}

.sidebar .nav li a i {
  margin-right: 7px;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: #2f323e;
  padding: 10px 20px 10px 0;
}

.topbar .navbar-header {
  position: relative;
}

.topbar .top-left-part {
  padding-left: 255px;
  padding-top: 5px;
  width: 50%;
  float: left;
  color: white;
}

.topbar .top-right-part {
  width: 50%;
  float: right;
}

#rating-pick input[type=radio] {
  margin-right: 10px;
}

#rating-pick .row {
  margin-bottom: 30px;
}

#rating-pick .warning {
  color: #ce3a3d;
  font-size: 13px;
  margin-bottom: 0 !important;
}

.this-report-ratings {
  list-style-type: none;
  padding-left: 0;
}

.this-report-ratings > li {
  margin-bottom: 10px;
}

.column-center {
  text-align: center;
}

.report-rating {
  background-color: #42cb75;
  color: white;
}

.message-final {
  color: #ffc107;
  width: 50%;
  float: right;
  font-weight: bold;
}

